## Egonets

In [79]:
import pandas as pd
from pandas import DataFrame as df
import os
import networkx as nx

path="./data/egonets/"
egonets=os.listdir(path)

friends=[]

for file in egonets:
    egonet=open(path+file)
    lines=egonet.readlines()
    lines = map(lambda x: x[:-1], lines)
    #we have list of lines of some egonet file
    for line in lines:
        line=line.split(': ')
        friends.append(line)
            
friends = df(friends, columns=['User_id','Friends'])
print(friends)

      User_id                                            Friends
0           1  146 189 229 201 204 60 215 35 91 238 88 28 166...
1           2  146 191 229 201 204 60 215 35 95 91 141 235 88...
2           3  185 80 61 188 22 222 118 4 223 138 52 212 213 ...
3           4  72 61 187 163 177 138 212 226 117 18 154 176 3...
4           5                                         111 71 137
5           6  146 229 201 204 60 215 35 95 91 141 235 132 88...
6           7  216 142 104 194 233 217 203 219 197 195 67 23 ...
7           8  146 189 25 204 111 60 13 215 122 35 141 132 88...
8           9  185 188 22 222 213 193 198 181 17 36 66 209 78...
9          10                          25 192 12 205 236 167 162
10         11  72 61 146 163 4 177 138 212 151 226 117 133 18...
11         12  146 25 201 204 60 215 115 10 122 35 153 95 91 ...
12         13    30 87 86 163 110 71 8 206 232 98 225 125 113 42
13         14                    86 211 96 189 142 203 71 77 175
14         15  146 191 229 201 204 60 215 122 35 95 91 141 38...
15         16                         4 110 135 69 183 66 171 50
16         17  185 186 80 188 152 237 22 222 118 9 159 223 52...
17         18  61 187 163 4 177 138 212 151 226 117 133 154 1...
18         19                         144 214 142 178 121 68 190
19         20  146 191 25 201 204 60 215 115 122 35 95 91 141...
20         21  189 229 204 95 91 38 238 218 156 6 2 231 184 2...
21         22  185 186 80 188 152 237 222 118 9 159 223 52 21...
22         23    87 216 104 194 233 203 69 7 219 195 67 74 58 42
23         24                                  80 209 149 101 42
24         25  146 215 10 153 8 20 221 31 140 126 12 205 182 ...
25         26
26         27                                         216 189 52
27         28  146 201 93 204 60 122 95 91 141 235 132 88 166...
28         29
29         30                                           87 13 98
...       ...                                                ...
27548   10365  10129 10270 10308 10145 10183 10182 10194 9990...
27549   10366                   10297 9986 9973 9967 10204 10315
27550   10367  10106 9953 10167 10188 10254 10238 10385 9968 ...
27551   10368  10106 9953 10188 10029 10254 10189 9968 10392 ...
27552   10369  10227 10067 10252 10106 10016 10109 10235 1020...
27553   10370  10106 9953 10188 10029 10238 10189 9968 10297 ...
27554   10371  10254 10080 10238 10385 9968 10321 10297 10381...
27555   10372  9953 10066 10188 10238 10368 10030 10226 10128...
27556   10373  10106 10270 10109 10209 10185 9996 10231 10182...
27557   10374           10106 9998 10072 10110 10334 10115 10318
27558   10375     10006 10293 10129 9981 10292 10243 10199 10347
27559   10376  10006 10293 10305 10308 10338 10089 10079 1014...
27560   10377     10274 9960 10157 10322 10379 10266 10335 10384
27561   10378                10006 10293 10308 10240 10365 10357
27562   10379  10021 10332 10129 9966 10211 10341 10344 9960 ...
27563   10380  10393 10381 10244 10392 10133 10030 10390 1013...
27564   10381  10106 10248 10188 10029 10254 10238 10189 1038...
27565   10382  10229 9994 10153 10156 10170 10053 10172 9964 ...
27566   10383  10006 10293 10308 10338 10079 10055 10147 1024...
27567   10384                 10196 10286 10101 10335 9954 10377
27568   10385  10106 10246 10109 9953 10167 10029 10157 10254...
27569   10386  10133 10092 10116 10239 9977 10028 9987 10394 ...
27570   10387  10362 10334 10231 10115 10182 10392 10353 1031...
27571   10388  10310 10267 10086 10094 10210 10161 10169 9993...
27572   10389  10227 10056 10298 10057 10229 10207 10350 1015...
27573   10390  10227 10003 10380 10350 10153 10300 10225 1036...
27574   10391  10106 10167 10188 10254 10385 9968 9986 9973 1...
27575   10392  10067 10277 10106 10332 10270 10072 10174 1014...
27576   10393                                              10380
27577   10394  10057 9973 10133 10380 10092 9959 10203 10116 ...

[27578 rows x 2 columns]

## Egonet (training)

In [82]:
path="./data/testSet_users_friends.csv"
egonet=open(path)

friendsTraining=[]

lines=egonet.readlines()
lines = map(lambda x: x[:-1], lines)
for line in lines:
    line=line.split(': ')
    friendsTraining.append(line)
friendsTraining = df(friendsTraining, columns=['User_id','Friends'])
friendsTraining.head(10)

  User_id                                            Friends
0       0  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1     850  851 852 853 854 855 856 857 858 859 860 861 86...
2    1099  1100 1101 1102 1103 1104 1105 1106 1107 1108 1...
3    1310  1311 1312 1313 1314 1315 1316 1317 1318 1319 1...
4    1813  1814 1815 1816 1817 1818 1819 1820 1821 1822 1...
5    2473  2474 2475 2476 2477 2478 2479 2480 2481 2482 2...
6    2630  2631 2632 2633 2634 2635 2636 2637 2638 2639 2...
7    2976  2977 2978 2979 2980 2981 2982 2983 2984 2985 2...
8    3077  3078 3079 3080 3081 3082 3083 3084 3085 3086 3...
9    3236  3237 3238 3239 3240 3241 3242 3243 3244 3245 3...

In [94]:
import networkx as nx

G=nx.Graph()
path="./data/egonets/" 
    
for index,user in friendsTraining.iterrows():
    print(user)
    for friend_of_user in user['Friends'].split(' '):
        print(friend_of_user)
        
        egonets=os.listdir(path)
        for file in egonets:
            egonet=open(path+file)
            lines=egonet.readlines()
    
    
    
    
    break

User_id                                                    0
Friends    1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
Name: 0, dtype: object
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238